/.bundle

/.yardoc
/_yardoc/
/coverage/
/pkg/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
mkmf.log

nbproject
.idea
*~

*.swp
*.swap
*.bundle
*.so
*.o
*.a

.vagrant
.ruby-env
.DS_Store
Vagrantfile
Gemfile.lock
